:root {
  --bg: #ffffff;
  --text: #000000;
  --card-bg: #f1f5f9;
}

[data-theme="dark"] {
  --bg: #182135;
  --text: #ffffff;
  --card-bg: #1e293b;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

h1{
  margin-bottom: 1rem;
  font-size: 2rem;
}

form {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}

input {
  flex: 1;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  padding: 0.8rem 1.2rem;
  border: none;
  background: #111;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.5rem;
}


.movie-card {
  background: var(--card-bg);
  transition: background 0.3s;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.poster {
  width: 100%;
  height: 250px;
  object-fit: cover;
  background: #ddd;
}

.movie-info {
  padding: 0.5rem;
}

.loader {
  font-weight: bold;
  margin: 1rem 0;
}

.error {
  color: #b03;
  margin: 1rem 0;
}

input:focus {
  outline: 2px solid #2563eb;
}

button:hover {
  background: #111;
  opacity: 0.9;
  transition: 0.2s;
}

.details-btn {
  display: inline-block;
  margin-top: 10px;
  background: #2563eb;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  text-decoration: none;
}

.details-btn:hover {
  background: #1e40af;
}

.movie-details {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: var(--card-bg);
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #93c5fd;
  font-size: 1rem;
}

.nav a:hover {
  color: white;
}

.fav-btn {
  margin-top: 8px;
  display: inline-block;
  background: #facc15;
  color: black;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
  border: none;
  cursor: pointer;
}

.fav-btn:hover {
  background: #eab308;
}

.theme-toggle {
  margin-left: 20px;
  font-size: 1.3rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
}


/* Mobile tweaks */
@media (max-width: 480px) {
  .poster {
    height: 200px;
  }
  .grid {
    gap: 1rem;
  }
}